
<div class="viewPDF" style="width: 130vh;height: 100vh;">
    <pdfjs-viewer on-init="onInit()" print="false" open="false" download="false" src="{{src_pdf}}" predictions = "{{predictions}}"></pdfjs-viewer>
</div>