<div ng-show="showLegend">
    <div ng-repeat ="part in parts">
        <div style="width: 3vh;height: 3vh;background:  {{part.color}};display: inline-block;border-radius:0.5vh;"/> {{part.part}}
    </div>
</div>
