<div  ng-show="loaded" class="backgroundLoading">
    <img src="images/loading.gif" id="loadingGif">
</div>
<div class="containColumns">
  <settings-dir class="column columnLeft"></settings-dir>
  <div class="column columnDoc"></div>
  <!-- <action-upload-dir class="column columnDoc"></action-upload-dir> -->
  <legend-dir class="column columnRight"></legend-dir>
</div>
