<md-switch ng-model="operation" ng-init="operation = 'test'"  ng-true-value="'test'" ng-false-value="'training'">
    {{ operation }}
</md-switch>

classifier selected : {{classifiers[0]}}
<br>
<select ng-change="changeClassifier(valueClassifier)" ng-model="valueClassifier">
    <option ng-repeat="classifier in classifiers">{{classifier}}</option>
</select>

<input type="file" accept=".pdf" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/><br>